@font-face {
	font-family: "Pokemon";
	src: url("../../assets/font/Pokemon\ Hollow.ttf");
}

body {
	background-image: url("../../assets/images/wallpaper.jpg");
	background-size: contain;
	background-size: cover;
	background-repeat: repeat;
	font-family: "Pokemon";
	color: white;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	gap: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-wrap: nowrap;
}

.placeholder {
	/*The purpose of this element is to balance the header tag so that
	the h1 tag gets centered*/
	visibility: hidden;
}

header>h1,
.placeholder {
	flex-grow: 1;
	text-align: center;
}