@font-face {
	font-family: "Pokemon";
	src: url("../../assets/font/Pokemon\ Hollow.ttf");
}

body {
	background-image: url("../../assets/wallpaper.jpg");
	background-size: contain;
	background-size: cover;
	background-repeat: repeat;
	font-family: "Pokemon";
	color: white;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

header>h1 {
	flex-grow: 1;
	text-align: center;
}