.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.card {
	display: flex;
	background-color: rgba(255, 255, 255, 0.25);
	justify-content: center;
	flex-direction: column;
	width: clamp(200px, 2vw + 21rem, 400px);
	text-align: center;
	outline: solid black;
}

.card>* {
	width: 50%;
	align-self: center;
}

.card>h3 {
	color: white;
}

.scores {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}