.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.card {
	display: flex;
	background-color: rgba(255, 255, 255, 0.25);
	justify-content: center;
	flex-direction: column;
	width: clamp(200px, 2vw + 21rem, 400px);
	text-align: center;
	outline: solid black;
}

.card>* {
	width: 50%;
	align-self: center;
}

.card>h3 {
	color: white;
}

.scores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.startDialog {
	width: 75vw;
	min-height: 75vh;
	overflow: auto;
}

.startDialog>button:first-of-type {
	--size-btn: 60px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0.5em;
	margin-right: 0.5em;
	min-width: var(--size-btn);
	min-height: var(--size-btn);
	border-radius: 50%;
	border: none;
	opacity: 0.5;
	font-size: 2rem;
}

.modalText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
}

.modalText>img {
	width: 25rem;
	width: 75%;
	width: clamp(50%, 50rem ,75%);
}

.modalText>h1,
.modalText>h4 {
	text-align: center;
	font-size: 1.4rem;
	margin: 0.2em;
}

.modalText>p {
	margin: 0.5em;
}

.modalText>p:first-of-type {
	font-size: 1.3rem;
}

.modalText>:last-child {
	font-size: 2rem;
}